*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/fundo.jpg");
    background-image: linear-gradient(to right,black, rgb(24, 24, 24), black);
    font-family: Arial;
    height: 100vh;
    font-size: 14px;
}

/*Se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px){
    body{
        font-size: 14px;
    }
}

/* breakpoint */
@media (min-width: 600px){
    body{
        font-size: 18px;
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********************   Menu  *************************/
.menu{
    background-image: linear-gradient(rgb(241, 240, 240), whitesmoke, rgb(252, 250, 250));
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    box-shadow: 10px 10px 10px black;
}

.menu a{
    color: black;
    font-size: 1.7em;
    font-family: 'Roboto', sans-serif;
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 1s;
}

@media (min-width: 300px){
    .menu a{
        color: black;
        font-size: 1.3em;
        font-family: 'Roboto', sans-serif;
        display: block;
        padding: 10px 20px;
        transition: background-color 1s, color 1s;
    }
}

@media (min-width: 600px){
    .menu a{
        color: black;
        font-size: 1.7em;
        font-family: 'Roboto', sans-serif;
        display: block;
        padding: 10px 20px;
        transition: background-color 1s, color 1s;
    }
}

.menu ul{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    transition: transform 100ms;
    transform: scale(1.3);
}

/********************  Titulo  **************************/

.titulo{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    
    animation: linear 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    0%{
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }
    100%{
         transform: scale(1) translateY(0);
         opacity: 1;
    }
}

.site-subtitle,
.site-title{
    text-align: center;
    color:whitesmoke;
}

.site-title{
    font-size: 3.5em;
    font-family: 'Press Start 2P', cursive;
}

.site-subtitle{
    margin-top: 20px;
    font-size: 1.9em;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6cm;
}

.sobre{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:300px){
    .sobre{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .sobre p{
        font-size: 1.1em;
    }
}

@media (min-width:400px){
    .sobre{
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:600px){
    .sobre{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:1200px){
    .sobre{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}
/********************  Formatação das telas  **************************/
/********************  Portfolio  **************************/

.sobre,
.contato,
.portfolio{
    padding: 2em;
    min-height: 100vh;
}

.contato h2,
.portfolio h2,
.sobre h2{
    margin-top: 35px;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
}

.sobre p{
    color: whitesmoke;
    margin-bottom: 1.4em;
    text-indent: 1.4em;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
}

.portfolio .grid{
    display: grid;
    gap: 2em;
}

@media (min-width: 560px){
    .portfolio .grid{
        grid-template-columns: 240px 240px;
        justify-content: center;
    }
}

@media (min-width: 880px){
    .portfolio .grid{
        grid-template-columns: repeat(3, 300px);
        align-content: center;
        justify-content: center;
        height: calc(100vh - 48px - 8em);
    }
}

.portfolio figure{
    text-align: center;
}

.img-portfolio{
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
}

.card{
    transition: transform 500ms;
}

.card:hover{
    transition: transform 500ms;
    transform: scale(1.2) rotate(.1deg);
}

@media (min-width:300px){
    .card:hover{
        transition: transform 500ms;
        transform: scale(1.1) rotate(.1deg);
    }
}

@media (min-width:600px){
    .card:hover{
        transition: transform 500ms;
        transform: scale(1.2) rotate(.1deg);
    }
}

figcaption{
    color: whitesmoke;
    font-family: 'Press Start 2P', cursive;
}
/********************  Contato  **************************/

.contato .icons{
    text-align: center;
}

.contato a{
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 1s;
}

.contato a{
    color: whitesmoke;
    font-size: 4em;
    transition: text-shadow 500ms;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 35px whitesmoke;
}