
body{
 background-color: rgb(53, 117, 160);
 font-family: Arial;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.menu{
    background-color: white;
}

.menu ul{
    display: flex;
    justify-content: space-between;
}

.menu li{
    list-style: none;
}

.site-subtitle,
.site-title{
    text-align: center;
    color: whitesmoke;
}

.site-subtitle{
    font-style: italic;
}